@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 72 15.5% 95.9%;
    --foreground: 72 63% 5%;
    --muted: 72 20% 89%;
    --muted-foreground: 72 0% 27%;
    --popover: 72 59% 100%;
    --popover-foreground: 72 63% 5%;
    --card: 72 12.31% 98.25%;
    --card-foreground: 72 63% 5%;
    --border: 72 5% 91%;
    --input: 72 5% 91%;
    --primary: 65.66 69.91% 50.14%;
    --primary-foreground: 72 80% 13%;
    --secondary: 72 14.09% 81.64%;
    --secondary-foreground: 72 10% 25%;
    --accent: 72 12.69% 87.67%;
    --accent-foreground: 72 17% 18%;
    --destructive: 10.97 86.92% 58.04%;
    --destructive-foreground: 15 100% 98.68%;
    --ring: 72 80% 53%;
    --chart-1: 72 80% 53%;
    --chart-2: 72 8.31% 42.61%;
    --chart-3: 72 7.85% 60.77%;
    --chart-4: 72 13.54% 77.76%;
    --chart-5: 72 22.52% 86.1%;
    --radius: 0.5rem;

    --sidebar-background: var(--card);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }
  .dark {
    --background: 72 32.94% 1.74%;
    --foreground: 72 23% 98%;
    --muted: 72 10.68% 15.29%;
    --muted-foreground: 72 0% 73%;
    --popover: 72 36% 0%;
    --popover-foreground: 72 23% 98%;
    --card: 72 1.56% 5.68%;
    --card-foreground: 72 23% 98%;
    --border: 72 5% 14%;
    --input: 72 5% 14%;
    --primary: 72.13 70.08% 50.2%;
    --primary-foreground: 72 80% 13%;
    --secondary: 72 7.8% 23.55%;
    --secondary-foreground: 72 4.87% 84.64%;
    --accent: 72 10.95% 11.44%;
    --accent-foreground: 72 10% 80%;
    --destructive: 11 68.89% 49.65%;
    --destructive-foreground: 15 100% 98.43%;
    --ring: 72 80% 53%;
    --chart-1: 72 80% 53%;
    --chart-2: 72 14.57% 23.5%;
    --chart-3: 72 7.8% 41.39%;
    --chart-4: 72 5% 57.89%;
    --chart-5: 72 30.28% 85.66%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
